{% extends 'base.html.twig' %}
{% block body %}
    <section>
        <div class="row ">

            <div class="col-sm-10">
                <div class="row flexrow" style="justify-content:  center;">
                    <h1>Panneau de modération</h1>
                </div>
                <div>
                    <ul class="nav nav-tabs">
                        <li class="active"><a data-toggle="tab" href="#serie">Propositions de série</a></li>
                        <li><a data-toggle="tab" href="#acteur">Propositions d'acteurs</a></li>
                        <li><a data-toggle="tab" href="#commentaire">Commentaires</a></li>
                        <li><a data-toggle="tab" href="#ban">Gestion des bans</a></li>
                            {% if is_granted('ROLE_ADMIN') %}
                            <li><a data-toggle="tab" href="#moderateur">Gestion des droits</a></li>
                            {% endif %}
                    </ul>

                    <div class="tab-content" style="padding:10px">
                        <!--/////////////////********|serie|********\\\\\\\\\\\\\\\\\!-->
                        <div id="serie" class="tab-pane fade in active">
                            {% for serie in series %}
                                <div class="BoxFrame" style="margin:5px;">
                                    <a href="{{path('serie_show',{'id':serie.id})}}">
                                        <div class="row">
                                            <div class="col-sm-4"
                                                 style='height : 160px;
                                                 background-image: url("{{ serie.url}}");background-size: cover;background-repeat: no-repeat;background-position-y: 25%;'>
                                            </div>
                                            <div class="col-sm-8">
                                                <div class="col-sm-8">
                                                    <h3>{{ serie.titre }}</h3>
                                                    <div class="flexrow">
                                                        <p>Proposée par :</p>
                                                        <p>{{ serie.auteurProposition }}</p>
                                                    </div>
                                                    <div class="flexrow">
                                                        <p>Proposée le :</p>
                                                        <p>date</p>
                                                    </div>
                                                </div>
                                                <div class="col-sm-4 flexcol" style='align-items:  center;'>
                                                    <a href="{{path('serie_show',{'id':serie.id})}}">
                                                        <div class="btn btn-info" >
                                                            <div class="BoxFrameBtn " >
                                                                <p>Consulter</p>
                                                            </div>
                                                        </div>
                                                    </a>
                                                    <a href="{{path('serie_valide',{'id':serie.id})}}">
                                                        <div class="btn btn-success">
                                                            <div class="BoxFrameBtn " >
                                                                <p>Valider</p>
                                                            </div>
                                                        </div>
                                                    </a>
                                                    {% if is_granted('ROLE_ADMIN') %}
                                                        <a href="{{path('serie_delete_get',{'id':serie.id})}}">
                                                            <div class="btn btn-danger" >
                                                                <div class="BoxFrameBtn " >
                                                                    <p>Refuser et Supprimer</p>
                                                                </div>
                                                            </div>
                                                        </a>
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            {% endfor %}
                        </div>
                        <!--/////////////////********|acteur|********\\\\\\\\\\\\\\\\\!-->
                        <div id="acteur" class="tab-pane fade">
                            <div id="serie" class="tab-pane fade in active">
                                {% for acteur in acteurs %}
                                    <div class="BoxFrame" style="margin:5px;">
                                        <a href="episodeDetail.php">
                                            <div class="row">
                                                <div class="col-sm-4"
                                                     style='height : 160px;
                                                     background-image: url("{{acteur.url}}");background-size: cover;background-repeat: no-repeat;background-position-y: 25%;'>
                                                </div>
                                                <div class="col-sm-8">
                                                    <div class="col-sm-8">
                                                        <h3>{{ acteur.nom }} {{ acteur.prenom }}</h3>
                                                        <div class="flexrow">
                                                            <p>Proposée par :</p>
                                                            <p>{{ acteur.auteurProposition }}</p>
                                                        </div>
                                                        <div class="flexrow">
                                                            <p>Proposée le :</p>
                                                            <p>date</p>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-4 flexcol" style='align-items:  center;'>
                                                        <a href="{{path('acteur_show',{'id':acteur.id})}}">
                                                            <div class="btn btn-info" >
                                                                <div class="BoxFrameBtn " >
                                                                    <p>Consulter</p>
                                                                </div>
                                                            </div>
                                                        </a>
                                                        <a href="{{path('acteur_valide',{'id':acteur.id})}}">
                                                            <div class="btn btn-success">
                                                                <div class="BoxFrameBtn " >
                                                                    <p>Valider</p>
                                                                </div>
                                                            </div>
                                                        </a>
                                                        {% if is_granted('ROLE_ADMIN') %}
                                                            <a href="{{path('acteur_delete_get',{'id':acteur.id})}}">
                                                                <div class="btn btn-danger" >
                                                                    <div class="BoxFrameBtn " >
                                                                        <p>Refuser et Supprimer</p>
                                                                    </div>
                                                                </div>
                                                            </a>
                                                        {% endif %}
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                        <!--/////////////////********|commentaires|********\\\\\\\\\\\\\\\\\!-->
                        <div id="commentaire" class="tab-pane fade">
                            {% for critique in critiques_signale %}
                                <div class="BoxFrame" style="margin:5px;">
                                    <a href="episodeDetail.php">
                                        <div class="row " style="align-items:  center;
                                             ">
                                            <div class="col-sm-3">
                                                <div class="flexrow">
                                                    <p>Signalé par :</p>
                                                    <p></p>
                                                </div>
                                                <div class="flexrow">
                                                    <p>Auteur :</p>
                                                    <p>{{ critique.auteur }}</p>
                                                </div>
                                                <div class="flexrow">
                                                    <p>Posté le :</p>
                                                    <p>{{ critique.dateCritique | date('d/m/Y')}}</p>
                                                </div>
                                            </div>
                                            <div class="col-sm-7">
                                                <h4>Commentaire</h4>
                                                <p>{{ critique.contenu }}</p>
                                            </div>
                                            <div class="col-sm-2 flexrow" >
                                                <a href="{{path('critique_show',{'id':critique.id})}}">
                                                    <div class="btn btn-info" >
                                                        <div class="BoxFrameBtn " >
                                                            <p>Consulter</p>
                                                        </div>
                                                    </div>
                                                </a>
                                                {% if is_granted('ROLE_ADMIN') %}
                                                    <a href="{{path('critique_delete_get',{'id':critique.id})}}">
                                                        <div class="btn btn-danger" >
                                                            <div class="BoxFrameBtn " >
                                                                <p>Supprimer le commentaire</p>
                                                            </div>
                                                        </div>
                                                    </a>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            {% endfor %}
                        </div>
                        <!--/////////////////********|ban|********\\\\\\\\\\\\\\\\\!-->
                        <div id="ban" class="tab-pane fade">
                            <div class="table-responsive">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th>Nom du Compte</th>
                                            <th>Nom et Prénom</th>
                                            <th>Raison du Bannissement</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for utilisateur in utilisateurs %}
                                            <tr>
                                                <td><a href="{{path('utilisateur_show',{'id':utilisateur.id})}}">{{ utilisateur.nom }} {{ utilisateur.prenom }}</a></td>
                                                <td>{{ utilisateur.username }}</td>
                                                <td>///To Do
                                                    {#                                                    {{ utilisateur.reason }}#}
                                                </td>
                                                <td>
                                                    <a href="{{path('bannir',{'id':utilisateur.id})}}">
                                                        {% if "ROLE_SUPER_ADMIN" in app.user.roles or
                                                              ("ROLE_ADMIN" not in utilisateur.roles and
                                                              ("ROLE_ADMIN" in app.user.roles or
                                                              ("ROLE_MODO" not in utilisateur.roles and "ROLE_MODO" in app.user.roles))) %}

                                                            {% if utilisateur.isEnabled %}
                                                                <div class="btn btn-danger" >
                                                                    <div class="BoxFrameBtn " >
                                                                        <p>Bannir</p>
                                                                    </div>
                                                                </div>
                                                            {% else %}
                                                                <div class="btn btn-info" >
                                                                    <div class="BoxFrameBtn " >
                                                                        <p>Débannir</p>
                                                                    </div>
                                                                </div>
                                                            {% endif %}
                                                        {% endif %}


                                                    </a>
                                                </td>
                                                <td>
                                                    <a href="{{path('bannir',{'id':utilisateur.id})}}">

                                                    </a>
                                                </td>

                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <!--/////////////////********|moderateur|********\\\\\\\\\\\\\\\\\!-->
                        {% if is_granted('ROLE_ADMIN') %}

                            <div id="moderateur" class="tab-pane fade">
                                <div class="input-append">
                                    <input class="span2" id="appendedInput" type="text">
                                    <span class="glyphicon glyphicon-search add-on"></span>
                                </div>
                                <div class="table-responsive">
                                    <table class="table table-hover">
                                        <thead>
                                            <tr>
                                                <th>Nom et Prénom</th>
                                                <th>Nom Utilisateur</th>
                                                <th>Role</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for utilisateur in utilisateurs_role %}

                                                <tr>
                                                    <td style="text-center"><a href="#">{{ utilisateur.nom }} {{ utilisateur.prenom }}</a></td>
                                                    <td>{{ utilisateur.username }}</td>
                                                    <td>
                                                        {% for role in utilisateur.roles %}
                                                            <p>{{ role }}</p>
                                                        {% endfor %}
                                                    </td>
                                                    {#<td>
                                                        <a href="{{path('retro_user',{'id':utilisateur.id})}}">
                                                            {% if "ROLE_USER" in utilisateur.roles %}
                                                                <div class="btn btn-default" >
                                                                    <div class="BoxFrameBtn " >
                                                                        <p>Retirer le Role Utilisateur</p>
                                                                    </div>
                                                                </div>
                                                            {% else %}
                                                                <div class="btn btn-default" >
                                                                    <div class="BoxFrameBtn " >
                                                                        <p>Passer Simple Utilisateur</p>
                                                                    </div>
                                                                </div>
                                                            {% endif %}

                                                        </a>
                                                    </td>#}
                                                    <td>
                                                        <a href="{{path('promote_modo',{'id':utilisateur.id})}}">
                                                            {% if "ROLE_MODO" in utilisateur.roles %}
                                                                <div class="btn btn-info" >
                                                                    <div class="BoxFrameBtn " >
                                                                        <p>Retirer le Role Modérateur</p>
                                                                    </div>
                                                                </div>
                                                            {% else %}
                                                                <div class="btn btn-info" >
                                                                    <div class="BoxFrameBtn " >
                                                                        <p>Passer Modérateur</p>
                                                                    </div>
                                                                </div>
                                                            {% endif %}
                                                        </a>
                                                    </td>
                                                    <td>
                                                        <a href="{{path('promote_admin',{'id':utilisateur.id})}}">
                                                            {% if "ROLE_ADMIN" in utilisateur.roles %}
                                                                <div class="btn btn-danger" >
                                                                    <div class="BoxFrameBtn " >
                                                                        <p>Retirer le Role Admin</p>
                                                                    </div>
                                                                </div>
                                                            {% else %}
                                                                <div class="btn btn-danger" >
                                                                    <div class="BoxFrameBtn " >
                                                                        <p>Passer Admin</p>
                                                                    </div>
                                                                </div>
                                                            {% endif %}
                                                        </a>
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        {% endif %}

                    </div>


                </div>
            </div>
            <!--/////////////////********|Aside Right|********\\\\\\\\\\\\\\\\\!-->
            <div class="col-sm-2 Aside ">
                <h3>Dernièrs événement</h3>
                <hr>
                <div class="list-group">
                    <li class="list-group-item flexrow">
                        <p>Série :</p>
                        <a href="#">Titre</a>
                    </li>
                    <li class="list-group-item flexrow">
                        <p>Acteur :</p>
                        <a href="#">Nom Prénom</a>
                    </li>
                    <li class="list-group-item flexrow">
                        <p>Commentiare :</p>
                        <a href="#">Auteur</a>
                    </li>
                    <li class="list-group-item flexrow">
                        <p>Série :</p>
                        <a href="#">Titre</a>
                    </li>
                    <li class="list-group-item flexrow">
                        <p>Commentaire :</p>
                        <a href="#">Auteur</a>
                    </li>
                </div>
            </div>
        </div>

    </div>
</section>
{% endblock %}
