{% extends 'base.html.twig' %}

{% block body %}
    <h1>Utilisateur</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ utilisateur.id }}</td>
            </tr>
            <tr>
                <th>Pseudo</th>
                <td>{{ utilisateur.pseudo }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ utilisateur.nom }}</td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>{{ utilisateur.prenom }}</td>
            </tr>
            <tr>
                <th>Mail</th>
                <td>{{ utilisateur.mail }}</td>
            </tr>
            <tr>
                <th>Datenaissance</th>
                <td>{% if utilisateur.dateNaissance %}{{ utilisateur.dateNaissance|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Ville</th>
                <td>{{ utilisateur.ville }}</td>
            </tr>
            <tr>
                <th>Twitter</th>
                <td>{{ utilisateur.twitter }}</td>
            </tr>
            <tr>
                <th>Facebook</th>
                <td>{{ utilisateur.facebook }}</td>
            </tr>
            <tr>
                <th>Avatar</th>
                <td>{{ utilisateur.avatar }}</td>
            </tr>
            <tr>
                <th>Signature</th>
                <td>{{ utilisateur.signature }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ utilisateur.description }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('utilisateur_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('utilisateur_edit', { 'id': utilisateur.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
            <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
