{% extends 'base.html.twig' %}
{% block body %}

    <section>
        <div class="row ">

            <div class="col-sm-10">
                <div class="row flexrow" style="justify-content:  center;">
                    <h1>Mon Wall</h1>
                </div>
                <div>
                    <ul class="nav nav-tabs">
                        <li class="active"><a data-toggle="tab" href="#information">Informations </a></li>
                        <li><a data-toggle="tab" href="#activite">Activité</a></li>
                        <li><a data-toggle="tab" href="#commentaire">Commentaires</a></li>
                        <li><a data-toggle="tab" href="#commentaire2">Commentaires des autres utilisateurs</a></li>
                    </ul>

                    <div class="tab-content" style="padding:10px">
                        <!--/////////////////********|information|********\\\\\\\\\\\\\\\\\!-->

                        <div id="information" class="tab-pane fade in active">
                            <a href="{{path('utilisateur_edit',{'id':app.user.id})}}">
                                <div class="btn btn-info" >
                                    <div class="BoxFrameBtn " style="padding:5px" >
                                        <p>Editer mon profil</p>
                                    </div>
                                </div>
                            </a>
                            <h3>Informations de {{utilisateur.username}}</h3>
                            <ul>
                                <li>Nom: {{utilisateur.nom}}</li><br />
                                <li>Prénom: {{utilisateur.prenom}}</li><br />
                                <li>Mail: {{utilisateur.mail}}</li><br />
                                <li>Date de naissance: {{utilisateur.dateNaissance | date("d/m/Y")}}</li><br />
                                <li>Ville: {{utilisateur.ville}}</li><br />
                                <li>Twitter: {{utilisateur.twitter}}</li><br />
                                <li>Facebook: {{utilisateur.facebook}}</li><br />
                                <li>Avatar: <img src="{{utilisateur.avatar}}" /></li><br />
                                <li>Signature: {{utilisateur.signature}}</li><br />
                                <li>Description: {{utilisateur.description}}</li>
                            </ul>
                        </div>
                        <!--/////////////////********|activite|********\\\\\\\\\\\\\\\\\!-->
                        <div id="activite" class="tab-pane fade">
                            {% for article in utilisateur.activite %}
                                {% if article %}
                                    {% if article.type == "abonnement" %}
                                        <div class="BoxFrame" style="margin:5px;">
                                            <div class="row flexrow" style="min-height: 80px;
                                                 align-items:  center; ">
                                                <div class="col-sm-3">
                                                    <p style>{{article.date | date("d/m/Y - H:i")}}</p>
                                                </div>
                                                <div class="col-sm-9">
                                                    <p>Suit la série : <a href="{{path('serie_show', {"id": article.cible.id})}}">{{article.cible.titre}}</a></p>
                                                </div>
                                            </div>
                                        </div>
                                    {% elseif article.type == "desabonnement" %}
                                        <div class="BoxFrame" style="margin:5px;">
                                            <div class="row flexrow" style="min-height: 80px;
                                                 align-items:  center; ">
                                                <div class="col-sm-3">
                                                    <p style>{{article.date | date("d/m/Y - H:i")}}</p>
                                                </div>
                                                <div class="col-sm-9">
                                                    <p>Ne suit plus la série : <a href="{{path('serie_show', {"id": article.cible.id})}}">{{article.cible.titre}}</a></p>
                                                </div>
                                            </div>
                                        </div>
                                    {% elseif article.type == "critique" %}
                                        <div class="BoxFrame" style="margin:5px;">
                                            <div class="row flexrow" style="min-height: 80px;
                                                 align-items:  center; ">
                                                <div class="col-sm-3">
                                                    <p style>{{article.date | date("d/m/Y - H:i")}}</p>
                                                </div>
                                                <div class="col-sm-9">
                                                    <p>A commenté la série : <a href="{{path('serie_show', {"id": article.cible.serie.id}) }}">{{article.cible.serie.titre}}</a></p>
                                                </div>
                                            </div>
                                        </div>
                                    {% elseif article.type == "serie" %}
                                        <div class="BoxFrame" style="margin:5px;">
                                            <div class="row flexrow" style="min-height: 80px;
                                                 align-items:  center; ">
                                                <div class="col-sm-3">
                                                    <p style>{{article.date | date("d/m/Y - H:i")}}</p>
                                                </div>
                                                <div class="col-sm-9">
                                                    <p>A proposé la série : <a href="{{path('serie_show', {"id": article.cible.id}) }}">{{article.cible.titre}}</a></p>
                                                </div>
                                            </div>
                                        </div>
                                    {% elseif article.type == "acteur" %}
                                        <div class="BoxFrame" style="margin:5px;">
                                            <div class="row flexrow" style="min-height: 80px;
                                                 align-items:  center; ">
                                                <div class="col-sm-3">
                                                    <p style>{{article.date | date("d/m/Y - H:i")}}</p>
                                                </div>
                                                <div class="col-sm-9">
                                                    <p>A proposé l'acteur : <a href="{{path('acteur_show', {"id": article.cible.id})}}">{{article.cible.getNomComplet}}</a></p>
                                                </div>
                                            </div>
                                        </div>
                                    {% elseif article.type == "episode" %}
                                        <div class="BoxFrame" style="margin:5px;">
                                            <div class="row flexrow" style="min-height: 80px;
                                                 align-items:  center; ">
                                                <div class="col-sm-3">
                                                    <p style>{{article.date | date("d/m/Y - H:i")}}</p>
                                                </div>
                                                <div class="col-sm-9">
                                                    <p>A proposé l'épisode : <a href="{{path('episode_show', {"id": article.cible.id})}}">{{article.cible.titre}}</a> de <a href="{{path('serie_show', {"id": article.cible.saison.serie.id})}}">{{article.cible.saison.denomination}}</a></p>
                                                </div>
                                            </div>
                                        </div>
                                    {% elseif article.type == "visionnage" %}
                                        <div class="BoxFrame" style="margin:5px;">
                                            <div class="row flexrow" style="min-height: 80px;
                                                 align-items:  center; ">
                                                <div class="col-sm-3">
                                                    <p style>{{article.date | date("d/m/Y - H:i")}}</p>
                                                </div>
                                                <div class="col-sm-9">
                                                    <p>A visionné l'épisode : <a href="{{path('episode_show', {"id": article.cible.id})}}">{{article.cible.titre}}</a> de {{article.cible.saison.denomination}}</a></p>
                                                </div>
                                            </div>
                                        </div>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        </div>
                        <!--/////////////////********|commentaire|********\\\\\\\\\\\\\\\\\!-->
                        <div id="commentaire" class="tab-pane fade">

                            <div class="panel-group">
                                <div class="panel panel-success">
                                    <div class="panel-heading">Critique</div>
                                    <div class="panel-body">
                                        <div class="panel-group">
                                            <!--/////////////////********|Un Commentaire|********\\\\\\\\\\\\\\\\\!-->
                                            {% for critique in critiquesByUser %}
                                                <div class="panel panel-default">
                                                    <div class="panel-heading">Le {{critique.dateCritique | date("d/m/Y à H:i")}}, à propos de <a href="{{path('acteur_show', {"id": critique.serie.id})}}">{{critique.serie.titre}}</a></div>
                                                    <div class="panel-body">
                                                        <div class="row">
                                                            <div class="col-sm-2">
                                                                <img class="img-responsive" src="http://t0.gstatic.com/images?q=tbn:ANd9GcRY1t4XoXCwsFcxJzH8u8rg1EYkwEy1MSBVScHOTLKsQFBJkXQNCNS4" style='max-width: 30vw'/>
                                                            </div>
                                                            <div class="col-sm-10">
                                                                <div class="flexrow" style="justify-content:  space-between; align-items:  center;
                                                                     ">
                                                                    <div class="flexrow" style='flex-wrap: nowrap;  align-items:  center;justify-content:  space-around;'>
                                                                        <p style="padding:5px">Note critique : +5</p>
                                                                        <div class="btn btn-success">
                                                                            <div class="BoxFrameBtn " style="padding:5px">
                                                                                <p>J'aime</p>
                                                                            </div>
                                                                        </div>
                                                                        <div class="btn btn-warning" >
                                                                            <div class="BoxFrameBtn " style="padding:5px" >
                                                                                <p>J'aime pas</p>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <p style="padding:10px">
                                                                    {{critique.contenu}}
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--/////////////////********|commentaireUtilisateur|********\\\\\\\\\\\\\\\\\!-->
                        <div id="commentaire2" class="tab-pane fade">

                            <div class="panel-group">
                                {% for serie in critiquesByAbonnements %}
                                    <div class="panel panel-success">
                                        <div class="panel-heading">{{serie.titre}}</div>
                                        <div class="panel-body">
                                            <div class="panel-group">
                                                <!--/////////////////********|Un Commentaire|********\\\\\\\\\\\\\\\\\!-->
                                                {% for critique in serie.critiques %}
                                                    <div class="panel panel-default">
                                                        <div class="panel-heading">Critique de <a href="{{path('wall_show', {"id": critique.auteur.id})}}">{{critique.auteur.username}} - Le {{critique.dateCritique | date("d/m/Y à H:i")}}</div>
                                                        <div class="panel-body">
                                                            <div class="row">
                                                                <div class="col-sm-2">
                                                                    <img class="img-responsive" src="http://t0.gstatic.com/images?q=tbn:ANd9GcRY1t4XoXCwsFcxJzH8u8rg1EYkwEy1MSBVScHOTLKsQFBJkXQNCNS4" style='max-width: 30vw'/>
                                                                </div>
                                                                <div class="col-sm-10">
                                                                    <div class="flexrow" style="justify-content:  space-between; align-items:  center;
                                                                         ">
                                                                        <div class="flexrow" style='flex-wrap: nowrap;  align-items:  center;justify-content:  space-around;'>
                                                                            <p style="padding:5px">Note critique : +5</p>
                                                                            <div class="btn btn-success">
                                                                                <div class="BoxFrameBtn " style="padding:5px">
                                                                                    <p>J'aime</p>
                                                                                </div>
                                                                            </div>
                                                                            <div class="btn btn-warning" >
                                                                                <div class="BoxFrameBtn " style="padding:5px" >
                                                                                    <p>J'aime pas</p>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <p style="padding:10px">{{critique.contenu}}</p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>

                    </div>


                </div>
            </div>
            <!--/////////////////********|Aside Right|********\\\\\\\\\\\\\\\\\!-->
            <div class="col-sm-2 Aside ">
                <h3>Séries suivies par {{utilisateur.username}}</h3>
                <hr>
                <div class="panel-body" style="padding:1px 0px 0px 0px; ">
                    {% for serie in utilisateur.abonnements %}
                        <div class="list-group">
                            <a href="{{path('serie_show',{'id':serie.id})}}" class="list-group-item list-group-item-info">
                                <div class="flexrow" style="align-items:  center; justify-content: space-around;
                                     ">
                                    <div style="max-width: 30%;">
                                        <img src="{{serie.url}}"/>
                                    </div>
                                    <div style="width : 70%;">
                                        {{serie.titre}}
                                    </div>
                                </div>
                            </a>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>

    </div>
</section>

{% endblock %}
